debug/
target/
.idea/
*.bin

cache
out/**

artifacts/ethereum/HEI-token/out/
artifacts/ethereum/out/

# Gramine generated manifest files
*.manifest
*.manifest.sgx
*.sig

!local/keystore/ethereum-2.bin
